html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
        font-family:'Noto Sans TC','Roboto', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix{
    display:block;
    content:"";
    clear:both;
}
img{
  max-width:100%;
  height:auto;
}
.wrap{
    max-width:1920px;
}
.m-auto{
    margin: 0 auto;
    max-width:1200px;
}
.big-title{
    border-bottom:2px solid #000;
}
.big-title h1{
    font-size: 80px;
    padding-top: 48px;
    padding-bottom: 24px;
    line-height: 90px;
}
.header-img{
    padding: 48px 0;
}
.small-title,.work-title{
    border-bottom:1px solid #000;
}
.py-b{
    padding-bottom: 8px;
}
.chinese{
    font-size: 32px;
    padding-right:8px;
    line-height: 45px;
}
.english{
    font-size: 24px;
    color: #a00404;
    padding-left: 8px;
    line-height: 32px;
}
.person-main,.education-main{
    font-size: 24px;
    line-height: 36px;
    position: relative;
}
.person-main::before{
    content:"";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #96a9c4;
    border-radius:50%;
    top: 24px;
    left: 20px;
}
.person-main li,.education-main li{
    text-indent:48px;
    position: relative;
}
.py-16{
    padding: 16px 0;
}
.py-8{
    padding-top: 8px;
    padding-bottom: 72px;
}
.py-16-72{
    padding-top: 16px;
    padding-bottom: 72px;
}
.education-main li::before{
    content:"";
    position: absolute;
    width: 16px;
    height: 16px;
    background:#96A9C4;
    border-radius:50px;
    left: 16px;
    top: 25px;
}

.education-main li:first-child::after{
    content:'';
    position: absolute;
    width: 1px;
    background:#96A9C4;
    height: 66px;
    top: 40px;
    left: 24px;
}
.skill-bg{
    height: 360px;
    background: #96A9C4;
    margin-bottom: -430px;
    margin-top: 70px;
}
.skill{
    background: #415165;
    color: #ffffff;
    padding-top: 24px;
    margin-bottom: 72px;
    padding-bottom: 55.5px;
}
.skill h2{
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom:1px solid #fff;
    text-align: center;
    line-height: 36px;
    margin-bottom: 40px;
}
.skill .title{
    font-size: 24px;
    line-height: 32px;
    padding-left: 16px;
}
.skill ul{
    width: 216px;
    margin: 0 auto;
    border-left:1px solid #fff;
    padding-left: 24px;
}
.skill li{
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 36px;
}
.work-main{
    margin-top: 22px;
    margin-bottom: 72px;
    border-left:1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 50px;
}
.work-main h3{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 8px;
}
.work-main p{
    width: 642px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 8.15px;
    margin-bottom: 32px;
}
.footer{
    background: #415165;
    color: #ffffff;
}
.footer h2{
    font-size: 32px;
    line-height: 45px;
    border-bottom:1px solid #fff;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
}
.footer span{
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
}
.footer p{
    font-size: 24px;
    line-height: 36px;

}
.footer .mail{
    padding-top: 32px;
}
.footer-main{
    text-align: center;
}
.icon{
    padding-bottom: 48px;
    padding-top: 16px;
}
.icon img{
    display:inline-block;
    padding-right: 16px;
}